@use './partials/variables' as *;
@use './partials/mixins' as *;
@use '../../node_modules/bootstrap/scss/bootstrap.scss';

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #40A3CA;
    position: relative;
}


header{
    .navbar-graphic{
        background-color: #57D0FF;
    }

    a{
        color: #B8E8F2;
    }

    a:hover{
        color: white;
    }

    .jumbo-img{
        height: 250px;
        margin-bottom: 30px;
    }

    .card-img-logo{
        width: 37px;
        height: 37px;
        border-radius: 25%;
        margin-right: 10px;
    }
}

.container-category{
    border: 4px solid #57d0ff;
    border-radius: 10px;
    padding: 40px;
}

.category-checkbox{
    background-color: #0bae1e;
    padding: 5px;
    border-radius: 10px;
}



